.main-logo{
  display: block;
  float: left;
  position: absolute;
  img{
    height: 130px;
    width: 146px;
  }
}

.header {
  width: 100%;
  overflow: hidden;
  background-color: #d9d9d9;
}
.desktop-nav-wrap{

 
  .desktop-menu{
    float: right;
    a{
      list-style-type: none;
      text-decoration: none;    
    overflow: hidden;
    background-color: #d9d9d9;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
      }
      a:hover {
    background-color: #cccccc;
      } 
  }
  .container{
     background-color: #d9d9d9;
  }
}

