footer{
  background-color: $footer-dark;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 15px 0;
  .footer-rows{
    padding: 10px;
    float: left;
    width: 31%;
    
    @media (max-width: 991px){
      width: 100%;
    }
    h2{
      color: $color-white;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      
       p{
         font-size: 15px;

       }
    }
    a,p{
      color: $color-white;
      margin: 0 auto;
      border: 50px;
    }
    a{
      text-decoration: none;
     }

    i{
      color: $color-blue;
    }
    #font-transform{
      text-align: center;
      margin: 15px;
      font: bold;
      font-size: 25px;
    }
    .footer-social{
      max-width: 70%;
      display: block;
      margin: 0 auto;
      text-align: center;

      li{
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        margin: 0 auto;
        i{
          font-size: 30px;
        }
      }
      .footer-social{
        max-width: 70%;
        display: block;
        margin: 0 auto;
        text-align: center;

        li{
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        margin: 0 auto;
        i{
          font-size: 30px;
        }

        }
      }
    }
  }
}