/*colors-included*/

$color-dark-gray: #F1F3EE;
$color-blue: #07AEE5;
$color-white: #ffffff;
$color-dark: #231F20;
$footer-dark: #313332;

/* font include*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* font include*/

body, html {
  height: auto!important;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
ul,li{
  margin: 0;
  padding: 0;
}

*{
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.mobile-only{
 @media (min-width: 992px){
  display: none !important;
}
}
.desktop-only{
  @media (max-width: 991px){
    display: none !important;
  }
}


.container {
  display: block;
  max-width: 100%!important;
  @media only screen and (min-width: 1200px){

    width: 1127px;
    margin-left: auto!important;
    margin-right: auto!important;

  }
  @media only screen and (max-width: 991px) and (min-width: 768px){

    width: 723px;
    margin-left: auto!important;
    margin-right: auto!important;

  }
  @media only screen and (max-width: 767px){

    width: auto!important;
    margin-left: 1em!important;
    margin-right: 1em!important;

  }
}

section:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

main{
  overflow: hidden;
  clear: both;
}

.standart-header{
  display: block;
  text-align: center;
  margin: 15px auto;
  color: #313332;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}

.add-new-wash{
  a{
    img{
      position: fixed;
      right: 0;
      top: 50%;
      z-index: 9999;
      height: 250px;
      width: auto;
      margin-top: -125px;
    }
  }
}

.thanks-popup{
  display: none;
  position: fixed;
  z-index: 9999;
  background: rgba(255,168,11,.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.popup-show-thanks-visible{
    display: block;
  }
  .container{
    max-width: 50%!important;
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    bottom: 1px solid #fff;
  }
  h2{
    text-align: center;
    display: block;
  }
  .field{
    label,input,a{
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      margin-top: 15px;
      color: #fff;
    }
    label{
      max-width: 80%;
      display: block;
      text-align: center;
      font-size: 20px;
    }
    input{
      max-width: 40%;
      display: block;
      margin: 15px auto;
      padding: 15px;
      min-height: 40px;
      color: #000;
    }
    #number-ph{
      font-weight: 400;
    }      
    }
    .close-btn{
      margin: 15px auto;
      display: block;
      text-align: center;
      border: none;
      background: #D33535;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      max-width: 600px;
      padding: 15px 15px;
      text-decoration:none;
      text-align:center;
      font-size: 19px;
      border-radius:6px;
      -moz-transition: all 0.17s;
      -webkit-transition: all 0.17s;
      transition: all 0.17s;
      border:1px solid #902727; 
      -moz-box-shadow: 0px 3px 0px #7C1C1C;
      -webkit-box-shadow: 0px 6px 0px #7C1C1C;
      box-shadow: 0px 3px 0px #7C1C1C;
    }
  }
